@use "../abstracts" as *;

.app {
  max-width: 960px;
  margin: 0 auto;
  padding: espacio(3) espacio(2);

  &__header {
    margin-bottom: espacio(3);
    text-align: center;
  }

  &__title {
    font-size: rem(28px);
    color: $primario;
  }

  &__subtitle {
    color: $gris;
    font-size: rem(14px);
  }

  &__main {
    @include columna(espacio(3));

    @include tablet {
      display: grid;
      grid-template-columns: 320px 1fr;
      align-items: start;
    }
  }
}
