@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: $toque-minimo;
  padding: espacio(1) espacio(2);
  border: 1px solid transparent;
  border-radius: $radio;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;

  @each $nombre, $color in $botones {
    &--#{$nombre} {
      @include boton($color);
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--small {
    padding: espacio(1) 12px;
    font-size: rem(14px);

    @include desde(tablet) {
      min-height: 32px;
      padding: 4px 10px;
      font-size: rem(13px);
    }
  }
}
